.THIS.purpleBackground {
    background: #6441A5;
}
.THIS.greyBackground {
    background: #f3f2f2;
}
.THIS.redBackground {
    background: #ff4d4d;
}
.THIS .purpleText {
    color: #6441A5;
}
.THIS .redText {
    color: #ff4d4d;
}
.THIS.noPadding {
    padding-bottom: 0px;
}
.THIS .hide {
    display: none!important;
}